# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.primer_programa.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\david\Desktop\tuki tuki gaming POO01\primer_programa\.idea\.idea.primer_programa.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
